* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 430px;
    margin: 0 auto;
    padding: 24px 24px 21px 24px;
}

.flex-container {
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.category-title {
    font-size: 20px;
    margin-bottom: 16px;
}

nav ul{
    justify-content: space-between;
    margin-bottom: 24px;
}

nav ul li {
    gap: 12px;
}

.main-title {
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    color: #292929;
}

.total-balance h5{
    font-size: 20px;
    font-weight: 400;
    color: #989898;
    margin-bottom: 10px;
}

.total-balance div {
    justify-content: space-between;
}

hr {
    background-color: #989898;
    margin: 16px 0px 20px 0px;
    font-size: 0.5px;
    width: 100vw;
    position: relative;
    left: -20px;
}

.saved-services {
  display: flex;
  gap: 12px;
  overflow-x: auto;       
  scroll-snap-type: x mandatory; 
  margin-bottom: 20px;
}

.saved-services div {
  width: 100px;
  height: 100px;
  scroll-snap-align: start;
  background-color: #98989830;
  border-radius: 12px;
  padding: 12px 8px 8px 12px;
  flex-shrink: 0;
}

.quick-pay {
    display: flex;
    gap: 12px;
}

.quick-pay div{
    background-color: #98989830;
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
}
.nearby-main-div{
    width: 185px;
    height: 139px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #DCDCDC4D;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.nearby-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nearby-main-div p{
    font-weight: 400px;
}
.nearby-div p{
    font-size: 14px;
    color: #989898;
}
.nearby-div img{
    width: 32px;
    height: 32px;
}
.bottom-nav{
    gap: 12px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 108px;
    margin-bottom: 21px;
    position: absolute;
    left: 11px;
}
.bottom-nav-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    color: #989898;
}
.bottom-nav-a img{
    width: 28px;
    height: 28px;
}
.main-p{
    color: #292929;
    font-weight: 600;
}